@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }


body{
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450vh;
    color: white;
    font-family: 'DotGothic16', sans-serif;

}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    top: 0px;
    background-color: black;
    position: sticky;
    width: 100%;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-menu,
li{
    margin: 15px;
    
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

a:hover{
    color: yellow;
}


section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-container,
.skills-container,
.proyectos-container,
.contacto-container{
    background: url(./img/pexels-mike-1192057.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.main-container h1,
.skills-container h1,
.proyectos-container h1,
.contacto-container h1 {
   margin: 50px;
}

footer{
    display: flex;
    justify-content: center;
}